@page
@model FreshGoods.Pages.Admin.Promotions.IndexModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a href="\admin">Return to Main Admin </a>
</p>
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Promotion[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Promotion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
